rect {
    fill: #6e40aa;
    x: 10;
    y: 10;
    width: 150px;
    height: 150px;
}

/* PRESENTATIONAL STYLES */
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

svg {
  width: 200px;
}
