path{
    d: path("M150, 10 L40, 200 L260, 200Z");
    fill: #4c6edb;
}

path:active {
    d: path("M150, 10 L40, 200 L260, 200 L260, 200Z");
    fill: #4c6edb;
    transition: all 0.35s ease;;
}

/* PRESENTATIONAL STYLES */
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

svg {
  width: 200px;
}
